<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link rel="stylesheet" href="../src/assets/css/style.css">
</head>
<body>
    <section class="container">
        <form action="" method="post">
            <label for="cliente">Cliente</label>
            <input type="text" name="cliente" id="cliente">
            <button>Enviar</button>
        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>