@charset "UTF-8";

body {
    font: 1em Arial;
}

input[type="button"] {
    background: rgb(240, 236, 236);
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1em;
    width: 100px;
    height: 50px;
}

input[type="button"]:hover {
    background-color: rgb(202, 194, 194);
}